<div
  [ngClass]="{
    'is-expanded': isExpanded
  }"
>
  <aside class="sidebar">
    <div class="sidebar-inner">
      <header class="sidebar-header">
        <button
          type="button"
          class="sidebar-burger"
          (click)="toggleSidebar()"
        ></button>
        <img
          src="../../../assets/icons/blocklord-logo.png"
          class="sidebar-logo"
        />
      </header>
      <nav class="sidebar-nav">
        <button routerLink="deashBoard" type="button">
          <i class="bi bi-house big-icon"></i>
          <span style="animation-delay: 0.1s">DashBoard</span>
        </button>
        <button routerLink="customers" type="button">
          <i class="bi bi-person-arms-up big-icon"></i>
          <span style="animation-delay: 0.2s">Clientes</span>
        </button>
        <!-- <button routerLink="osClientes" type="button">
          <i class="bi bi bi-card-checklist big-icon"></i>
          <span style="animation-delay: 0.3s">O.S Clientes</span>
        </button> -->
        <button routerLink="cars" type="button">
          <i class="bi-car-front big-icon"></i>
          <span style="animation-delay: 0.3s">Veículos</span>
        </button>
        <button routerLink="mechanicals" type="button">
          <i class="bi bi-wrench big-icon"></i>
          <span style="animation-delay: 0.4s">Mecânicos</span>
        </button>
        <!-- <button routerLink="osCars" type="button">
          <i class="bi bi bi-card-checklist big-icon"></i>
          <span style="animation-delay: 0.5s">O.S Veículos</span>
        </button> -->
        <button routerLink="new-OS" type="button">
          <i class="bi bi-file-earmark-plus-fill big-icon"></i>
          <span style="animation-delay: 0.5s">Nova O.S</span>
        </button>
        <button routerLink="os" type="button">
          <i class="bi bi-card-text big-icon"></i>
          <span style="animation-delay: 0.5s">O.S</span>
        </button>
      </nav>
      <footer class="sidebar-footer">
        <button type="button">
          <!-- <img src="../../../assets/icons/icon-lock.svg" /> -->
          <i class="bi bi-door-closed big-icon"></i>
          <span style="animation-delay: 0.8s">Logout</span>
        </button>
      </footer>
    </div>
  </aside>
</div>
<!-- <img src="../../../assets/icons/icon-accounts.svg" /> -->
