<div [formGroup]="phoneForm" class="phone-input-container">
  <div class="form-floating">
    <input
      type="text"
      id="phoneNumber"
      class="form-control"
      formControlName="phoneNumber"
      (input)="formatPhoneNumber($event)"
      placeholder="(99) 99999-9999"
    />
    <label for="phoneNumber">Telefone</label>
  </div>

  <div
    *ngIf="
      phoneForm.get('phoneNumber')?.invalid &&
      phoneForm.get('phoneNumber')?.touched
    "
    class="text-danger"
  >
    Número de telefone inválido. Formato esperado: (99) 99999-9999
  </div>

  <button
    (click)="onSubmit()"
    [disabled]="phoneForm.invalid"
    class="btn btn-primary mt-3"
  >
    Enviar
  </button>
</div>
