<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Visualização da Nota</h5>
    <button
      type="button"
      class="btn-close"
      (click)="dismissModal()"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <div id="screenshot-target" class="container border nota-fiscal-container">
      <!-- Cabeçalho da Nota -->
      <div class="nota-fiscal-header row align-items-center">
        <div class="col-md-9 text-start">
          <h4 class="mb-0">{{ preview.nomeEmpresa }}</h4>
          <h5 *ngIf="preview.mechanical.name">
            {{ preview.mechanical.name }}
          </h5>
        </div>
        <div class="col-md-3 text-start">
          <p>CNPJ: {{ preview.CNPJ }}</p>
          <p>NIRE: 33-8-0666557-0</p>
        </div>
        <div class="col-md-12 text-center">
          <h5>
            Tel.: {{ preview.telefoneEmpresa }} Cel.:
            {{ preview.telefoneEmpresa }}
          </h5>
        </div>
        <div class="col-md-12 text-start">
          <h6>
            {{ preview.ruaEmpresa }}, {{ preview.numeroEmpresa }} -
            {{ preview.bairroEmpresa }} - Cep {{ preview.cepEmpresa }} -
            {{ preview.cidadeEmpresa }} - {{ preview.estadoEmpresa }}
          </h6>
        </div>
      </div>
      <!-- Informações do Cliente -->
      <div class="row border-top pt-3">
        <div class="col-md-10 text-start">
          <h5>
            <strong>Descrição do Serviço: </strong
            >{{ preview.descricaoServico }}
          </h5>
        </div>
        <div class="col-md-10 text-start">
          <h5>
            <strong>Data da Emissão: </strong
            >{{ preview.dataEmissao | date : "dd/MM/yyyy" }}
          </h5>
        </div>
        <div class="col-md-2 text-end">
          <h4>Nº: 001</h4>
        </div>
        <div class="col-md-8 text-start">
          <h5><strong> Nome ou Firma: </strong>{{ preview.customer.name }}</h5>
        </div>
        <div class="col-md-12 text-start">
          <h5><strong>Endereço: </strong></h5>
        </div>
        <div class="col-md-5 text-start">
          <h5><strong> Bairro: </strong>{{ preview.customer.bairro }}</h5>
        </div>
        <div class="col-md-4 text-start">
          <h5><strong> Município: </strong>{{ preview.customer.cidade }}</h5>
        </div>
        <div class="col-md-3 text-start">
          <h5><strong> Fone: </strong>{{ preview.customer.telephone }}</h5>
        </div>
        <div class="col-md-6 text-start">
          <h5><strong> CNPJ/CPF: </strong>{{ preview.customer.cpf }}</h5>
        </div>
        <div class="col-md-6 text-start">
          <h5>
            <strong>Insc. Mun. e/ou Est:</strong>
            {{ preview.customer.inscEst }}
          </h5>
        </div>
        <div class="col-md-12 text-start">
          <h5>
            <strong> Informações Carro: </strong>{{ preview.car.modelo }} -
            {{ preview.car.cor }} - {{ preview.car.placa }}
          </h5>
        </div>
      </div>

      <!-- Tabela de Discriminação dos Serviços -->
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th>Quant.</th>
            <th>Discriminação dos Serviços</th>
            <th>P. Unit.</th>
            <th>Total R$</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of preview.itemsNota">
            <td>{{ item.amount }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.unitPrice }}</td>
            <td>{{ item.value }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" class="text-end">
              <strong>Valor Total da Nota R$</strong>
            </td>
            <td>
              <strong>{{ preview.totalValue }}</strong>
            </td>
          </tr>
        </tfoot>
      </table>

      <!-- Informações do Rodapé -->
      <div class="text-center mt-3">
        <p>Data limite para utilização do documento fiscal (quando exigida).</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="dismissModal()">
      Fechar
    </button>
    <button
      type="button"
      class="btn btn-success"
      (click)="downloadNotaFiscal()"
    >
      Download
    </button>
  </div>
</div>
