<button
  type="button"
  class="btn btn-secondary"
  (click)="visualizarNotaFiscal()"
  data-bs-toggle="modal"
  data-bs-target="#previewModal"
>
  Visualizar Nota
</button>

<div
  class="modal fade"
  id="previewModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Visualização da Nota</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="nota-fiscal-container">
          <!-- Título e Cabeçalho -->
          <div class="nota-fiscal-header text-center">
            <h2>{{ preview.nomeEmpresa }}</h2>
            <p>{{ preview.nomeMecanico }}</p>
            <!-- <p>
              * Chaves em Geral - Abertura de Fechadura de Cofres - Troca de
              Segredo de Cofres *
            </p> -->
            <p>Tel.: {{ preview.telefoneEmpresa }}</p>
            <p>
              {{ preview.ruaEmpresa }}, {{ preview.numeroEmpresa }} -
              {{ preview.bairroEmpresa }} - Cep {{ preview.cepEmpresa }} -
              {{ preview.cidadeEmpresa }} -{{ preview.estadoEmpresa }}
            </p>
            <p>CNPJ: {{ preview.CNPJ }} - NIRE: 33-8-0666557-0</p>
          </div>

          <!-- Dados do Cliente -->
          <div class="nota-fiscal-dados-cliente">
            <div class="row">
              <div class="col-6 text-start">
                <p>
                  <strong>Data da Emissão:</strong>
                  {{ preview.dataEmissao }}
                </p>
              </div>
              <div class="col-6 text-end">
                <h5 class="text-danger">No 001</h5>
              </div>
              <div class="col-12 text-start">
                <p><strong>Nome:</strong> {{ preview.nome }}</p>
              </div>
              <div class="col-12 text-start">
                <p><strong>Endereço:</strong> {{ preview.endereco }}</p>
              </div>
              <div class="col-12 text-start">
                <p><strong>CNPJ:</strong> {{ preview.cnpj }}</p>
              </div>
            </div>
          </div>

          <!-- Tabela de Serviços -->
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Discriminação dos Serviços</th>
                <th>Quant.</th>
                <th>P. Unit.</th>
                <!-- <th>Total</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of itemsNota">
                <td>{{ item.description }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.value }}</td>
                <!-- <td>{{ item.total }}</td> -->
              </tr>
            </tbody>
          </table>

          <!-- Informações do Procon -->
          <!-- <div class="nota-fiscal-footer">
            <p>
              PROCON/RJ - Praça Cristiano Otoni, s/n - Tel.: 151 ou 2334-5197
            </p>
            <p>ALERJ - 0800 282 7060 - R. da Alfândega, 8 - Centro - RJ</p>
            <p>05 talões 50x2 vias - Num. 751 a 1000</p>
            <p>
              <strong>
                Valor Total da Nota R$:
                {{ notaFiscalPreview.valorTotal }}
              </strong>
            </p>
          </div> -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Fechar
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="downloadNotaFiscal()"
        >
          Download
        </button>
      </div>
    </div>
  </div>
</div>
