.container {
  max-width: 900px;
  font-size: 14px;
}

.table th, .table td {
  vertical-align: middle;
  text-align: center;
}

.table-bordered th, .table-bordered td {
  border: 1px solid #000;
}

p {
  margin: 0px;
}

h4 {
  font-weight: 400;
}

h5 {
  font-weight: 300;
}