.navigation-drawer {
  position: fixed;
  z-index: 100;
  right: 0;
  bottom: 0;
  top: 0;
  transition: transform 600ms;
  display: flex; /* Add this line to enable flexbox */
  flex-direction: column; /* Add this line to set the flex direction */
  height: 100vh; /* Add this line to set the height to 100vh */
}
.drawer-open {
  transform: translateX(0);
}

.drawer-closed {
  transform: translateX(100%);
}

.fade-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6) !important;
  z-index: 99;
}

.drawer-container {
  overflow-x: auto;
  height: 100%;
  max-height: 100vh;
  background-color: #fff;
  box-shadow: 1px 0px 5px RGBA(0, 0, 0, 0.3);
  border-radius: 8px 0px 0px 8px;
}

.body-drawer {
  padding: 15px;
  // max-height: calc(92% - 120px);
  flex: 1 1 auto; 
  overflow-y: auto;
  // min-height: 76%;
}

.padding-hr-drawer {
  padding: 0rem 1rem;
}

.footer-drawer {
  padding: 15px;
  flex: 0 0 auto;
}

.width-default {
  width: 40%;
}

.drawer-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  flex: 0 0 auto;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  /* border-bottom: 1px solid #e3e6f0; */
  // -webkit-box-align: start;
  // -ms-flex-align: start;
  // -webkit-box-pack: justify;
  // -ms-flex-pack: justify;
}

.drawer-title {
  margin-bottom: 0;
  line-height: 1.5;
}

/* Scrollbar for Chrome, Edge, and Safari */
.body-drawer::-webkit-scrollbar {
  width: 6px;
}

.body-drawer::-webkit-scrollbar-track {
  background: transparent;
}

.body-drawer::-webkit-scrollbar-thumb {
  background-color: #004ab5;
  border-radius: 48px;
  border: 0px solid;
}
