<div class="row mb-2">
  <div class="col">
    <div class="form-floating">
      <input type="text" class="form-control" placeholder="telephone" />
      <label for="floatingInputGrid">Pesquisar</label>
    </div>
  </div>
  <div class="col text-end">
    <button (click)="add()" type="button" class="btn btn-lg btn-success">
      Adicionar carro
    </button>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <app-table
      [columns]="[
        { title: 'Modelo', name: 'modelo' },
        { title: 'Marca', name: 'marca' },
        { title: 'Ano', name: 'ano' },
        { title: 'Placa', name: 'placa' },
        { title: 'Tipo Combustivel', name: 'tipoCombustivel' }
      ]"
      [buttons]="[
        { id: 'id-edit', icon: 'bi bi-pencil-square' },
        { id: 'id-trash', icon: 'bi bi-trash' }
      ]"
      [tBodyList]="cars"
      (onEventClickBotaoAcoes)="onEventClickBotaoAcoes($event)"
    ></app-table>
  </div>
</div>

<app-car></app-car>
