<div class="row mb-2">
  <div class="col">
    <app-search table="cars" (emitterData)="loadData($event)"></app-search>
  </div>
  <div class="col text-end">
    <button (click)="add()" type="button" class="btn btn-lg btn-success">
      Adicionar carro
    </button>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <app-table
      [columns]="[
        { title: 'Modelo', name: 'modelo' },
        { title: 'Marca', name: 'marca' },
        { title: 'Ano', name: 'ano' },
        { title: 'Placa', name: 'placa' }
      ]"
      [buttons]="[
        { id: 'id-edit', icon: 'bi bi-pencil-square' },
        { id: 'id-trash', icon: 'bi bi-trash' }
      ]"
      [tBodyList]="cars"
      (onEventClickBotaoAcoes)="onEventClickBotaoAcoes($event)"
    ></app-table>
  </div>
</div>

<app-car [cars]="cars" (onFiltrar)="loadData()"></app-car>
