<div class="row mb-2">
  <div class="col">
    <app-search table="customers" (emitterData)="loadData($event)"></app-search>
  </div>
  <div class="col text-end">
    <button (click)="add()" type="button" class="btn btn-lg btn-success">
      Adicionar cliente
    </button>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <app-table
      [columns]="[
        { title: 'Nome', name: 'name' },
        { title: 'CPF', name: 'cpf', type: 'cpfCnpj' },
        { title: 'Telefone', name: 'telephone', type: 'telephone' },
        { title: 'Email', name: 'email' }
      ]"
      [buttons]="[
        { id: 'id-edit', icon: 'bi bi-pencil-square' },
        { id: 'id-trash', icon: 'bi bi-trash' }
      ]"
      [tBodyList]="customers"
      (onEventClickBotaoAcoes)="onEventClickBotaoAcoes($event)"
    ></app-table>
  </div>
</div>

<app-customer [customers]="customers" (onFiltrar)="loadData()"></app-customer>
