<app-drawer
  idDrawer="drawer-mechanical"
  [header]="headerDrawer"
  [templateBody]="templateBody"
  [templateFooter]="templateFooter"
  iconHeader="bi bi-question-circle"
  classDrawer="drawer-navigation drawer-navigation-sm"
>
</app-drawer>
<ng-template #templateBody>
  <form [formGroup]="form">
    <div class="row g-2">
      <div class="col-12">
        <app-input
          [formGroup]="form"
          nameControl="name"
          placeHolder="Nome do mecânico"
          label="Nome"
          [isRequired]="true"
        ></app-input>
      </div>
      <div class="p-2 g-col-12">
        <app-input
          [formGroup]="form"
          nameControl="email"
          placeHolder="Email"
          label="Email"
          [isRequired]="true"
        ></app-input>
      </div>
      <div class="col-6">
        <app-phone-input
          [phoneForm]="form"
          frmPhone="telephone"
        ></app-phone-input>
      </div>
      <div class="col-6">
        <app-cpf-input frmCPF="cpf" [cpfForm]="form"> </app-cpf-input>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #templateFooter>
  <button (click)="fecharDrawer()" type="button" class="btn btn-secondary m-1">
    Cancelar
  </button>

  <button (click)="salvar()" type="button" class="btn btn-success">
    Salvar
  </button>
</ng-template>
