<app-drawer
  idDrawer="drawer-mechanical"
  [form]="form"
  [header]="headerDrawer"
  [templateBody]="templateBody"
  [templateFooter]="templateFooter"
  iconHeader="bi bi-question-circle"
  classDrawer="drawer-navigation drawer-navigation-sm"
>
</app-drawer>
<ng-template #templateBody>
  <form [formGroup]="form">
    <div class="row g-2">
      <div class="col-12">
        <app-input
          [form]="form"
          frmName="name"
          placeHolder="Nome do mecânico"
          label="Nome"
          [isRequired]="true"
        ></app-input>
      </div>
      <div class="p-2 g-col-12">
        <app-input
          [form]="form"
          frmName="email"
          placeHolder="Email"
          label="Email"
          [isRequired]="true"
        ></app-input>
      </div>
      <div class="col-6">
        <app-phone-input [form]="form" frmName="telephone"></app-phone-input>
      </div>
      <div class="col-6">
        <app-cpf-input frmName="cpf" [form]="form"> </app-cpf-input>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #templateFooter>
  <button (click)="fecharDrawer()" type="button" class="btn btn-secondary m-1">
    Cancelar
  </button>

  <button (click)="salvar()" type="button" class="btn btn-primary">
    Salvar
  </button>
</ng-template>
