<app-drawer
  idDrawer="drawer-customer"
  [form]="form"
  [header]="headerDrawer"
  [templateBody]="templateBody"
  [templateFooter]="templateFooter"
  iconHeader="bi bi-question-circle"
  classDrawer="drawer-navigation drawer-navigation-sm"
>
</app-drawer>
<ng-template #templateBody>
  <form [formGroup]="form">
    <div class="row g-2">
      <div class="col-12">
        <app-client-input
          label="Proprietário"
          [form]="form"
          frmName="marca"
        ></app-client-input>
      </div>
      <div class="col-4">
        <app-plate-input frmName="placa" [plateForm]="form"></app-plate-input>
      </div>
      <div class="col-4">
        <app-input
          [formGroup]="form"
          nameControl="marca"
          placeHolder="Marca do carro"
          label="Marca"
          [isRequired]="true"
        ></app-input>
      </div>

      <div class="col-4">
        <app-input
          [formGroup]="form"
          nameControl="modelo"
          placeHolder="Modelo"
          label="Modelo"
          [isRequired]="true"
        ></app-input>
      </div>
      <div class="col-4">
        <app-input
          [formGroup]="form"
          nameControl="ano"
          placeHolder="Ano"
          label="Ano"
          [isRequired]="true"
          onlyNumbers
          maxLength="4"
        ></app-input>
      </div>
      <div class="col-4">
        <app-input
          [formGroup]="form"
          nameControl="cor"
          placeHolder="Cor"
          label="Cor"
          [isRequired]="true"
        ></app-input>
      </div>
      <div class="col-4">
        <app-input
          [formGroup]="form"
          nameControl="chassi"
          placeHolder="Chassi"
          label="Chassi"
          [isRequired]="true"
        ></app-input>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #templateFooter>
  <button (click)="fecharDrawer()" type="button" class="btn btn-secondary m-1">
    Cancelar
  </button>

  <button (click)="salvar()" type="button" class="btn btn-success">
    Salvar
  </button>
</ng-template>
