<app-drawer
  idDrawer="drawer-customer"
  [header]="headerDrawer"
  [templateBody]="templateBody"
  [templateFooter]="templateFooter"
  iconHeader="bi bi-question-circle"
  classDrawer="drawer-navigation drawer-navigation-sm"
>
</app-drawer>
<ng-template #templateBody>
  <form [formGroup]="form">
    <div class="row g-2">
      <div class="col-12">
        <app-client-input label="Proprietário" [form]="form" frmName="marca"></app-client-input>
        <!-- <app-customers-select [form]="form" frmName="idCustomer">
        </app-customers-select> -->
      </div>
      <div class="col-4">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="Placa do carro"
            formControlName="placa"
          />
          <label for="floatingInputGrid">Placa</label>
        </div>

        <!-- <app-plate-input frmName="placa" [plateForm]="form"></app-plate-input> -->
      </div>
      <div class="col-4">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="Marca do carro"
            formControlName="marca"
          />
          <label for="floatingInputGrid">Marca</label>
        </div>
      </div>

      <div class="col-4">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="Model do carro"
            formControlName="modelo"
          />
          <label for="floatingInputGrid">Modelo</label>
        </div>
      </div>
      <div class="col-4">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="Ano fabricação"
            formControlName="ano"
            maxlength="4"
            onlyNumbers
          />
          <label for="floatingInputGrid">Ano </label>
        </div>
      </div>
      <div class="col-4">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="Cor do carro"
            formControlName="cor"
          />
          <label for="floatingInputGrid">cor</label>
        </div>
      </div>
      <div class="col-4">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="Chassi do carro"
            formControlName="chassi"
          />
          <label for="floatingInputGrid">Chassi</label>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #templateFooter>
  <button (click)="fecharDrawer()" type="button" class="btn btn-secondary m-1">
    Cancelar
  </button>

  <button (click)="salvar()" type="button" class="btn btn-success">
    Salvar
  </button>
</ng-template>
