.content {
  background: var(--green-600);
  font-family: var(--font-family);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  margin: 20px;
}

.card-body {
  width: 100%;
  border-radius: 15px;
  padding: 20px;
}

.card-title {
  margin-bottom: 10px;
}

.card-subtitle {
  color: #555;
  margin-bottom: 20px;
}
