.content {
  background: var(--blue-200);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 30rem;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid var(--blue-50);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--blue-50);
}

.btn {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--blue-500);
  color: var(--blue-50);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--blue-500);
}
