<div class="content">
  <div class="container d-flex justify-content-between">
    <div class="intro row gy-4 align-items-center">
      <div class="d-flex text-light">
        <div class="col-12">
          <p>
            <img src="./assets/icons/vikaBGLogin.png" class="logo" />
          </p>

          <hr class="border-primary-subtle mb-4" />
          <h3 class="mb-4 text-center">
            <app-type-writer
              text=" Automatize sua Mecânica com o Vika Garage!"
            ></app-type-writer>
          </h3>
          <p class="lead text-left texto">
            <strong> Ganhe Tempo: </strong>
            Gestão rápida de cadastros e emissão de notas.
          </p>
          <p class="lead text-left texto">
            <strong> Organização: </strong>
            Controle fácil de clientes e serviços.
          </p>
          <p class="lead text-left texto">
            <strong> Segurança: </strong>
            Proteção completa dos seus dados.
          </p>
          <p class="lead text-left texto">
            <strong> Suporte Dedicado: </strong>
            Assistência sempre que precisar.
          </p>

          <!-- Transforme a gestão da sua mecânica e foque no que realmente importa: seu negócio!  -->
        </div>
      </div>
    </div>
    <div class="col-xl-5">
      <div class="card border-0 rounded-4">
        <div class="card-body p-xl-5">
          <div class="row">
            <div class="col-12">
              <div class="mb-4">
                <h4 class="card-title vika-title">
                  Você ainda não está cadastrado!
                </h4>
                <h5 class="card-subtitle mb-4">Cadastre sua Empresa</h5>
              </div>
            </div>
          </div>
          <form [formGroup]="form" action="#!" (ngSubmit)="onSubmit()">
            <div class="row gy-3 overflow-hidden">
              <div class="col-12">
                <!-- <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Razão Social"
                    formControlName="name"
                  />
                  <label for="name">Razão Social</label>
                </div> -->

                <app-input
                  [form]="form"
                  label="Razão Social"
                  frmName="name"
                ></app-input>
              </div>
              <div class="col-12">
                <div class="form-floating">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="E-mail"
                    formControlName="email"
                  />
                  <label for="email">E-mail</label>
                </div>
              </div>
              <div class="col-12">
                <div class="mb-3">
                  <app-cnpj-input
                    frmName="cnpj"
                    [form]="form"
                    [isRequired]="true"
                  ></app-cnpj-input>
                </div>
              </div>
              <div class="col-12">
                <div class="d-grid">
                  <button class="btn btn-primary btn-lg" type="submit">
                    Cadastre-se
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
