<div class="row px-2">
  <div class="col-sm-4 mb-1">
    <app-card-info
      title="Ganhos"
      [startContent]="startContainerGanhos"
      [value]="indicadoresFinanceiros.ganhos | currency : 'BRL'"
    ></app-card-info>
    <ng-template #startContainerGanhos>
      <div class="icon">
        <i class="bi bi-bar-chart-fill"></i>
      </div>
    </ng-template>
  </div>
  <div class="col-sm-4 mb-1">
    <app-card-info
      title="Gastos"
      [startContent]="startContainerGastos"
      [value]="indicadoresFinanceiros.gastos | currency : 'BRL'"
    ></app-card-info>
    <ng-template #startContainerGastos>
      <div class="icon">
        <i class="bi bi-currency-dollar"></i>
      </div>
    </ng-template>
  </div>
  <div class="col-sm-4 mb-1">
    <app-card-info
      title="Vendas"
      [startContent]="startContainerGastos"
      [value]="indicadoresFinanceiros.vendas | currency : 'BRL'"
    ></app-card-info>
    <ng-template #startContainerVendas>
      <div class="icon">
        <i class="bi bi-currency-dollar"></i>
      </div>
    </ng-template>
  </div>
</div>

<div class="row px-2">
  <div class="col-sm-12">
    <app-chart
      #chart
      title="Notas últimos 7 dias"
      subtitle="Dados Fictícios"
    ></app-chart>
  </div>
  <div class="col-sm-6 mt-2">
    <app-pie-chart
      #chartPie
      title="Serviços mais solicitados"
      subtitle="2024"
    ></app-pie-chart>
  </div>
  <div class="col-sm-6 mt-2 mb-5">
    <app-bar-chart></app-bar-chart>
  </div>
</div>
