<app-drawer
  idDrawer="drawer-customer"
  [header]="headerDrawer"
  [templateBody]="templateBody"
  [templateFooter]="templateFooter"
  iconHeader="bi bi-question-circle"
  classDrawer="drawer-navigation drawer-navigation-sm"
>
</app-drawer>
<ng-template #templateBody>
  <form [formGroup]="form">
    <div class="row g-2 align-items-center">
      <div class="col-12">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="Nome"
            formControlName="name"
          />
          <label for="floatingInputGrid">Nome</label>
        </div>
      </div>
      <div class="col-4">
        <app-cpf-input [cpfForm]="form" frmCPF="cpf"></app-cpf-input>
      </div>
      <div class="col-4">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="telephone"
            formControlName="email"
          />
          <label for="floatingInputGrid">Insc. Est</label>
        </div>
      </div>
      <div class="col-4">
        <app-phone-input [phoneForm]="form" frmPhone="telephone">
        </app-phone-input>
      </div>
      <div class="col-12">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="telephone"
            formControlName="email"
          />
          <label for="floatingInputGrid">Email</label>
        </div>
      </div>
      <div class="col-12">
        <h5 class="border-bottom pb-2">Endereço</h5>
      </div>

      <div class="col-12">
        <app-cep-input
          frmCEP="cep"
          [cepForm]="form"
          (emitterCEP)="setarEndereco($event)"
        ></app-cep-input>
      </div>
      <div class="col-9">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="telephone"
            formControlName="rua"
          />
          <label for="floatingInputGrid">Rua</label>
        </div>
      </div>
      <div class="col-3">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="telephone"
            formControlName="email"
          />
          <label for="floatingInputGrid">Nº</label>
        </div>
      </div>
      <div class="col-2">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="telephone"
            formControlName="estado"
          />
          <label for="floatingInputGrid">Estado</label>
        </div>
      </div>
      <div class="col-5">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="telephone"
            formControlName="bairro"
          />
          <label for="floatingInputGrid">Bairro</label>
        </div>
      </div>
      <div class="col-5">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="telephone"
            formControlName="cidade"
          />
          <label for="floatingInputGrid">Cidade</label>
        </div>
      </div>
      <div class="col-12">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="telephone"
            formControlName="email"
          />
          <label for="floatingInputGrid">Complemento</label>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #templateFooter>
  <button (click)="closeDrawer()" type="button" class="btn btn-secondary m-1">
    Cancelar
  </button>

  <button (click)="salvar()" type="button" class="btn btn-success">
    Salvar
  </button>
</ng-template>
