<app-drawer
  idDrawer="drawer-customer"
  [form]="form"
  [header]="headerDrawer"
  [templateBody]="templateBody"
  [templateFooter]="templateFooter"
  iconHeader="bi bi-question-circle"
  classDrawer="drawer-navigation drawer-navigation-sm"
>
</app-drawer>
<ng-template #templateBody>
  <form [formGroup]="form">
    <div class="row g-2 align-items-center">
      <app-input
        [formGroup]="form"
        nameControl="name"
        placeHolder="Nome"
        label="Nome"
        [isRequired]="true"
      ></app-input>
      <div class="col-4">
        <app-cpf-input [cpfForm]="form" frmCPF="cpf"></app-cpf-input>
      </div>
      <div class="col-4">
        <app-input
          [formGroup]="form"
          nameControl="inscEst"
          placeHolder="Insc. Est"
          label="Insc. Est"
          [isRequired]="true"
        ></app-input>
      </div>
      <div class="col-4">
        <app-phone-input [phoneForm]="form" frmPhone="telephone">
        </app-phone-input>
      </div>
      <div class="col-12">
        <app-input
          [formGroup]="form"
          nameControl="email"
          placeHolder="Email"
          label="Email"
          [isRequired]="true"
        ></app-input>
      </div>
      <div class="col-12">
        <h5 class="border-bottom pb-2">Endereço</h5>
      </div>

      <div class="col-6">
        <app-cep-input
          frmCEP="cep"
          [cepForm]="form"
          (emitterCEP)="setarEndereco($event)"
          [findCep]="true"
        ></app-cep-input>
      </div>
      <div class="col-9">
        <app-input
          [formGroup]="form"
          nameControl="rua"
          placeHolder="Rua"
          label="Rua"
          [isRequired]="true"
          [readOnly]="cepReadOnly"
        ></app-input>
      </div>
      <div class="col-3">
        <app-input
          [formGroup]="form"
          nameControl="numero"
          placeHolder="Nº"
          label="Nº"
          [isRequired]="true"
        ></app-input>
      </div>
      <div class="col-2">
        <app-input
          [formGroup]="form"
          nameControl="estado"
          placeHolder="Estado"
          label="Estado"
          [isRequired]="true"
          [readOnly]="cepReadOnly"
        ></app-input>
      </div>
      <div class="col-5">
        <app-input
          [formGroup]="form"
          nameControl="bairro"
          placeHolder="Bairro"
          label="Bairro"
          [isRequired]="true"
          [readOnly]="cepReadOnly"
        ></app-input>
      </div>
      <div class="col-5">
        <app-input
          [formGroup]="form"
          nameControl="cidade"
          placeHolder="Cidade"
          label="Cidade"
          [isRequired]="true"
          [readOnly]="cepReadOnly"
        ></app-input>
      </div>
      <div class="col-12">
        <app-input
          [formGroup]="form"
          nameControl="complemento"
          placeHolder="Complemento"
          label="Complemento"
        ></app-input>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #templateFooter>
  <button (click)="closeDrawer()" type="button" class="btn btn-secondary m-1">
    Cancelar
  </button>

  <button (click)="salvar()" type="button" class="btn btn-primary">
    Salvar
  </button>
</ng-template>
