<app-drawer
  idDrawer="drawer-customer"
  [form]="form"
  [header]="headerDrawer"
  [templateBody]="templateBody"
  [templateFooter]="templateFooter"
  iconHeader="bi bi-question-circle"
  classDrawer="drawer-navigation drawer-navigation-sm"
>
</app-drawer>
<ng-template #templateBody>
  <form [formGroup]="form">
    <div class="row g-2 align-items-center">
      <app-input
        label="Nome"
        frmName="name"
        [form]="form"
        placeHolder="Nome"
        [isRequired]="true"
      ></app-input>
      <div class="col-4">
        <app-cpf-input [form]="form" frmName="cpf"></app-cpf-input>
      </div>
      <div class="col-4">
        <app-input
          label="Insc. Est"
          frmName="inscEst"
          [form]="form"
          placeHolder="Insc. Est"
        ></app-input>
      </div>
      <div class="col-4">
        <app-phone-input [form]="form" frmName="telephone"  [isRequired]="true"> </app-phone-input>
      </div>
      <div class="col-12">
        <app-input
          label="Email"
          frmName="email"
          [form]="form"
          placeHolder="Email"
          [isRequired]="true"
        ></app-input>
      </div>
      <div class="col-12">
        <h5 class="border-bottom pb-2">Endereço</h5>
      </div>
      <div class="col-6">
        <app-cep-input
          frmName="cep"
          [form]="form"
          [findCep]="true"
          (emitterCEP)="setarEndereco($event)"
        ></app-cep-input>
      </div>
      <div class="col-9">
        <app-input
          label="Rua"
          frmName="rua"
          [form]="form"
          placeHolder="Rua"
          [readOnly]="cepReadOnly"
        ></app-input>
      </div>
      <div class="col-3">
        <app-input
          label="Nº"
          frmName="numero"
          [form]="form"
          placeHolder="Nº"
        ></app-input>
      </div>
      <div class="col-2">
        <app-input
          label="Estado"
          frmName="estado"
          [form]="form"
          placeHolder="Estado"
          [readOnly]="cepReadOnly"
        ></app-input>
      </div>
      <div class="col-5">
        <app-input
          label="Bairro"
          frmName="bairro"
          [form]="form"
          placeHolder="Bairro"
          [readOnly]="cepReadOnly"
        ></app-input>
      </div>
      <div class="col-5">
        <app-input
          label="Cidade"
          frmName="cidade"
          [form]="form"
          placeHolder="Cidade"
          [readOnly]="cepReadOnly"
        ></app-input>
      </div>
      <div class="col-12">
        <app-input
          label="Complemento"
          frmName="complemento"
          [form]="form"
          placeHolder="Complemento"
        ></app-input>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #templateFooter>
  <button (click)="closeDrawer()" type="button" class="btn btn-secondary m-1">
    Cancelar
  </button>

  <button (click)="salvar()" type="button" class="btn btn-primary">
    Salvar
  </button>
</ng-template>
