<div [formGroup]="cepForm">
  <div class="form-floating">
    <input
      type="text"
      id="cep"
      class="form-control"
      formControlName="{{ frmCEP }}"
      (input)="formatCEP($event)"
      placeholder="CEP"
      placeholder="99999-999"
      (focusout)="loadCEP()"
      onlyNumbers
    />
    <label for="cep">CEP</label>
  </div>

  <div
    *ngIf="cepForm.get(frmCEP)?.invalid && cepForm.get(frmCEP)?.touched"
    class="text-danger"
  >
    CEP inválido. Formato esperado: 00000-000
  </div>
</div>
