<div [formGroup]="cepForm" class="d-flex align-items-center">
  <div class="form-floating me-2 flex-grow-1">
    <input
      type="text"
      id="cep"
      class="form-control"
      formControlName="{{ frmCEP }}"
      (input)="formatCEP($event)"
      placeholder="CEP"
      onlyNumbers
    />
    <label for="cep">CEP</label>
  </div>

  <div *ngIf="findCep">
    <button (click)="loadCEP()" type="button" class="btn btn-lg btn-success">
      <i class="bi bi-search"></i>
    </button>
  </div>
</div>

<div
  *ngIf="cepForm.get(frmCEP)?.invalid && cepForm.get(frmCEP)?.touched"
  class="text-danger"
>
  CEP inválido. Formato esperado: 00000-000
</div>
